*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}
@font-face {
    font-family: IranSans;
    src: url("../Fonts/IRANSans/IRANSans-web.eot");
    src: url("../Fonts/IRANSans/IRANSans-web.ttf") format("ttf"),url("../Fonts/IRANSans/IRANSans-web.woff") format("woff");
    font-weight: 500;
}
@font-face {
  font-family: Yekan;
  src: url("../Fonts/yekan/Yekan.eot");
  src: url("../Fonts/yekan/Yekan.ttf") format("ttf"),url("../Fonts/yekan/Yekan.woff") format("woff");
  font-weight: 800;
}
.bg-img {
    background: url(../Img/images/back-head.gif);
    height: 400px;
    background-color: rgb(4, 75, 35);
    background-blend-mode: screen;
    background-size: cover;
   
   
}
.font-list {
    font-family: IranSans;
    font-size: 15px;
}
.font-list li a {
    color:  white;  
    cursor: pointer;
}
.search-head {
    font-family: IranSans;
    border-radius: 20px;
    padding: 15px;
    font-size: 12px;
}
.icon-menu{
    color: mintcream;
    font-size: 33px;
    border: 3px solid lightblue;
    border-radius: 10px;
    padding: 10px;

}
.profile{
    width: 110px; 
    height: 30px;
    background-color: rgb(219, 212, 212);
    border-radius: 50px;
}
.name-pf{
    font-family: IranSans;
    font-size: 12px;
    text-align: center;
}
.num{
    font-family: Yekan;
    font-size: 35px;
    font-weight: bolder;
    text-align: right;

}
.string {
    font-family: Yekan;
    font-size: 18px;
    font-weight: bolder;
    color: gray;
    text-align: right;
    
}
.btn-soccer{
    background-color: #cddc39;
    width: 100%;
    padding: 10px;
    border: 0px;

}
.btn-basketball{
    background-color: #8bc34a;
    width: 100%;
    padding: 10px;
    border: 0px;

}
.btn-volley{
    background-color: #4caf50;
    width: 100%;
    padding: 10px;
    border: 0px;

}
.btn-tenis{
    background-color: #009688;
    width: 100%;
    padding: 10px;
    border: 0px;
}
.head-live{
    text-align: right;
    font-family: Yekan;
}
.txt-live{
    font-size: 14px;
    color: white;
    margin-right: 15px;
    margin-top: 15px;
    font-family: Yekan;
}
.head-best{
    text-align: right;
    font-family: Yekan;
}
.time-game{
    font-family: Yekan;
    font-size: 14px;
}
.num-chair{
    font-family: Yekan ;
    font-size: 14px;
    text-align: right;
}
.time-chair{
    font-family: Yekan ;
    font-size: 14px;
    text-align: right;
}
.social {
    background-color: #f4f4f4;
    border-radius: 5px;
    font-family: Yekan;
}
.head-table{
    text-align: right;
    font-family: Yekan;  
}
.table{
    text-align: right;
    font-family: Yekan;
}
.table tr:hover{
    background-color: rgb(211, 234, 233);
    color: rgb(36, 151, 146);
 
}
.logo-team  img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
}
.special-back{
    background-image: url("../Img/images/images/back-special.jpg");
    background-color: seagreen;
    background-blend-mode: lighten;
    background-size: cover;
}
.head-special{
    text-align: right;
    color: white;
    font-family: Yekan;
}
.card-h{
    text-align: right;
    font-family: Yekan;
    font-size: 20px;
    font-weight: 900px;
}
.card-d{
    text-align: right;
    font-family: Yekan;
    font-size: 15px;
    color: gray;
}
.card-t{
    text-align: right;
    font-family: Yekan;
    font-size: 15px;
}
.btn-c{
    font-family: Yekan;
    font-size: 15px;
}
.head-news{
    font-family: Yekan;
    text-align: right;
}
.footer-txt{
    color: gray;
    font-size: 13px;
    font-family: Yekan;
}
.talkbubble {
 
    height: 180px;
    background: #282828;
    position: relative;
    -moz-border-radius: 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .talkbubble:before {
    content: "";
    position: absolute;
    right: 6%;
    top: 180px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 15px solid #282828;
    border-bottom: 15px solid transparent;
  }
  .head-cm {
      color: #30c04b;
      text-align: right;
      font-family: Yekan;
      font-weight: bolder;
  }
  .body-cm{
    color:white;
    text-align: right;
    font-family: Yekan;
    font-weight: bolder;
  }
  .img-cm{
      width: 50px;
      height: 50px;
      border-radius: 50%;

  }
  .name-cm{
      font-family: Yekan;
      text-align: right;
  }
  .Subscribe{
      background-image: url(../Img/images/bg-sub.gif);
      background-size: cover;
  }
  .sub-text{
      color: white;
      font-family: Yekan;
      font-weight: bolder;
      text-align: right;

  }
  .mycustom {
   
    position: relative;
    }
    .mycustom input[type=text] {
    border: none;
    width: 350px;
    padding-right: 10px;
    text-align:right;
    font-family: Yekan;
    }
    .mycustom .input-group-prepend {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;z-index:9;

    }
    .row-b{
        text-align: right;
        font-family: Yekan;
        font-weight: bolder;
        font-size: 18px;
    }
    .col-a{
        text-align: right;
        font-family: Yekan;
        font-weight: bolder;
        font-size: 18px; 
    }
    .rc-1{
        color: black;
        font-family: Yekan;
        font-weight: bolder;
        font-size: 18px; 
    }
    /* --------------------------- Reserve_Style ----------------------------- */
    .col-r{
        background-color: #f1f1f1;
    }
    .BookMarcIcon{
        width: 36px;
        background-color: #a8a8a8;
        padding: 10px;
        border-radius: 50%;
    }
    .cricle{
        width: 7px;
        height: 7px;
        background-color: #c8c8c8;
        border-radius: 50%;
        margin-left: 5px;
    }
    .card-text {
        font-family: Yekan;
        text-align: right;
        border-bottom: 1px solid #cccccc;
        padding: 5px;
    }
    .star{
        font-family: Yekan;
        text-align: right;
        font-size: 12px;
        background-color: #f1f1f1;
        border-radius: 5px;
        margin-bottom: 10px;
        color: #6a6a6a;
    }
    .star-num{
        text-align: center;
    }
    .MsgLogIn {
        font-family: Yekan;
        background-color: #e5424d;
        border-radius: 10px;
        color: white;
    }
    .SelectTeam {
        text-align: right;
        font-family: Yekan;
        
    }
    .Rteam{
        
        background-color: #bee9c5;
        color: #00924c;
        border-radius:10px ;
        padding: 10px; 

    }
    .lteam{
        background-color: #e1e1e1;
        border-radius:10px ;
        padding: 10px; 
        
    }
    .border-dotted{
        border-bottom: 4px dotted #bababa;
    }

    .Area-A {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        background-color: black;
        text-align: center;
        position: absolute;
        top:290px;
        right: 38%;
    }
    .Area-B {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        background-color: black;
        text-align: center;
        position: absolute;
        top:420px;
        right: 33%;
    }
    .Area-C {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        background-color: black;
        text-align: center;
        position: absolute;
        top:420px;
        right: 23%;
    }
    .Area-D {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        background-color: black;
        text-align: center;
        position: absolute;
        top:565px;
        right: 38%;
    }
    .txt-btn{
        text-align: right;
        font-family: Yekan;
        margin-right: 15px;
    }
    .style-btn{
        color: #444444;
        background-color: #e1e1e1;
    }
    .select-btn{
        background-color: #bee9c5;
        color: #00924c;
    }
    .selected {
        background-color: #30c070;
        color: white;
        text-align: right;
        font-family: Yekan;
        padding: 0px;
    }
    .Price{
        text-align: right;
        font-family: Yekan;
    }
    .Price-finally {
        font-family: Yekan;
        color: #009966;
    }
    .submit {
        font-family: Yekan;
    }
    .Seat{
        width: 43px;
    }
    .msg-box {
        background-color: #f3f3f3;
        font-family: Yekan;
        text-align: right;
        color: #6a6a6a;
        border-radius: 10px;
        margin-top: 10px;
    }
    .msg-box-r {
        font-family: Yekan;
        text-align: right;
        color: #6a6a6a;
        margin-top: 10px;
    }
    .OptionBox {
        background-color: #e9e9e9;
        color: #6a6a6a;
        font-family: Yekan;
        font-size: 12px;
    }
    .AnswerCm{
        font-family: Yekan;
        color: green;
    }
    .Confirm {
        background-color: #30c070;
        color :white;
        font-family: Yekan;
        text-align: right;
    }
    .sum {
        font-family: Yekan;
        text-align: right;
    }
    .SignInLogo {
        font-family: Yekan;
        font-size: 12px;
        color: white;
        text-align: center;
    }
    .SignInRight {
        font-family: Yekan;
        font-size: 12px;
        text-align: right;
        
    }
    .SignInLeft {
        background-image: url(../Img/images/SignLog.png);
        background-blend-mode: screen;
        background-size: cover;
    
    }
    .SignInBtn{
        font-family: Yekan;
        font-size: 5px;
    }
    .txt-error {
        background-color: #ffd7d7;
        border-bottom: 2px solid #e62727;
        color: #e62727;
        text-align: left;
    }
    
    /* media queries */
    
    @media only screen and ( min-width : 995px) {

        .search-head {
            font-family: IranSans;
            border-radius: 20px;
            padding: 4px;
            font-size: 12px;
        }
            .font-list {
            font-family: IranSans;
            font-size: 14px;
        }
    
    }
    @media only screen and ( max-width : 500px) {
        .mycustom input[type=text] {
            border: none;
            width: 300px;
            padding-right: 10px;
            text-align:right;
            font-family: Yekan;
        }
    }

