*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}
@font-face {
    font-family: IranSans;
    src: url("../Fonts/IRANSans/IRANSans-web.eot");
    src: url("../Fonts/IRANSans/IRANSans-web.ttf") format("ttf"),url("../Fonts/IRANSans/IRANSans-web.woff") format("woff");
    font-weight: 500;
}
@font-face {
  font-family: Yekan;
  src: url("../Fonts/yekan/Yekan.eot");
  src: url("../Fonts/yekan/Yekan.ttf") format("ttf"),url("../Fonts/yekan/Yekan.woff") format("woff");
  font-weight: 800;
}
.bg-full{
    background: url(../Img/images/back-head.gif);
    background-color: rgb(4, 75, 35);
    background-blend-mode: screen;
    background-size: cover;
}
.font-list {
    font-family: IranSans;
    font-size: 15px;
}
.font-list li a {
    color:  gray;  
    cursor: pointer;
}
.search-head {
    font-family: IranSans;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
}
.icon-menu{
    color: mintcream;
    font-size: 33px;
    border: 3px solid lightblue;
    border-radius: 10px;
    padding: 10px;

}
.profile{
    width: 110px; 
    height: 30px;
    background-color: rgb(219, 212, 212);
    border-radius: 50px;
}
.name-pf{
    font-family: IranSans;
    font-size: 12px;
    text-align: center;
}
.Confirm{
    background-color: #30c070;
    color: white;
    font-family: Yekan;
    text-align: right;
}
.sum {
    text-align: center;
    font-family: Yekan;

}
.sum img{
    width: 90%;
    height: 90%;
}
.sharing {
    text-align: right;
    font-family: Yekan;
    background-color: white;
}
.sharing-f {
    text-align: center;
    font-family: Yekan;
    background-color: white;
}
.Confirm-f{
    background-color: #d30000;
    color: white;
    font-family: Yekan;
    text-align: right;
}
.text-f {
    text-align: center;
    font-family: Yekan;
    color: white;
    font-size: 14px;
}